
// colors


$body-bg:				#fff;
$primary-color:			#005fbf;
$secondary-color:		#fab702;
$base-color:			#424242;
$navbar-default-color:  #fab702;
$top-bar:				#005fbf;
$background:			#01bafd;
$top-bar-border:		#2599d3;

$black: 				#000;
$white: 				#fff;
$gray:					#f8f8f8;
$footer-bg:				#2b2b2d;
$footer-bottom-bg:		#1e1e1f;
$place-color:			#ccc;
$border-color:			#e5e5e5;


$main-color: #6394F8;
$light-text: #ABB0BE;

/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';



